.app-layout {
  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
  grid-template-rows: 80px 1fr;
  height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;
}

.app-layout.sidebar-open {
  grid-template-columns: 200px 1fr;
}

.app-layout.sidebar-closed {
  grid-template-columns: 0px 1fr;
}



/* HEADER */
.header {
  grid-area: header;
  background-color: #FAF7FA;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 양쪽 끝으로 배치 */
}

.header-left {
  display: flex;
  align-items: center;
}



/* CONTENT */
.content {
  grid-area: content;
  background-color: #FEFEFE;
  padding: 20px;
}

